---
apiVersion: v1
kind: Service
metadata:
    labels:
        app: {{ .Release.Name }}
    name: svc-{{ .Release.Name }}
    namespace: {{ .Release.Namespace }}
spec:
    selector:
        app: {{ .Release.Name }}
    ports:
        - port: 5000
          targetPort: 5000
          protocol: TCP
    type: NodePort
